#local-video-container{
  position:relative;
  width:auto;
}

#local-video-container > .overlayText {
  position:absolute;
  top:25%;
  width:50%;
  text-align:center;
  z-index:1;
 }
 
.overlayText > p{
  color: white;
  align-self: center;
}

#local-displayName {
  font-size: 20px;
  align-self: center;
}

.on {
  background-color: yellowgreen;
}

.off {
  background-color: violet;
}


.container{
  position: relative;
}

.overlayText {
  position:absolute;
  top:25%;
  width:40%;
  text-align:center;
  z-index:1;
}

.container>.remote-audio-buttons{
  height: 30px;
  left: 0%;
  padding: -20px 0 0 -20px;
  position: absolute;
  top: 40%;
  width: 60px;
  z-index: 1; 
  cursor: pointer;
}

.container>.remote-video-buttons{
  height: 30px;
  left: 0%;
  padding: -20px 0 0 -20px;
  position: absolute;
  top: 60%;
  width: 60px;
  z-index: 1; 
  cursor: pointer;
}

.hide {
  display: none;
}

#chat-area {
  position: absolute;
  right: 5%;
  top: 20%;
  float: right;
}

#chat-messages {
  padding: 5px;
}

#file-area {
  position: absolute;
  right: 5%;
  top: 40%;
  float: right;
}

#sharedFiles {
  padding: 5px;
}

.messages .files{
  border: 1px #333 solid;
}

.my-message .my-file{
  text-align: right;
}